<div id="containerBackground3" class="container-fluid text-white pt-5 pb-5">
    <div>
        <h1 class="px-5 pt-5">About Us</h1>
    </div>
    <div class="px-5 py-3 pb-5">
        <span class="fs-5">Founded in 2004 by Ira Goldberg and his father Edward Goldberg. Edward started in the
            mailrooms of Merrill Lynch and worked his way to be Executive Vice President
            - Ira followed in his footsteps and also worked for Merrill in Institutional Fixed Income and Trading on
            Wall Street. After Ed's 42 years of service and Ira's 14, they decided to start their own family office.
            Starting in 2015, Edward retired and Ira took on the role as CEO and Chairman.
        </span>
    </div>
</div>
<div class="container-fluid text-white pt-5 pb-5" style="background-color: #1c2331;">
    <div>
        <h1 class="pt-5 px-5">Our Value</h1>
    </div>
    <div class="px-5 py-3 pb-5">
        <span class="fs-5">Longview Capital's personalized approach to our client relationships manages to logically
            address the challenges
            faced by clients along with the concerns any investors may have. A partnership with Longview Capital enables
            clients to gain access to
            relationships that can improve the chances of a successful capital raise. Moreover, it enables the client to
            generate attractive returns
            without further distractions from marketing initiatives.
        </span>
    </div>
</div>