<div class="container-fluid text-white" style="height: 30rem; background-color: #1c2331;">
    <div>
        <h1 class="px-5 py-5">About Us</h1>
    </div> 
    <div class="px-5">
        <span class="fs-3">Founded in 2004 by Ira Goldberg and his father Edward Goldberg. Edward started in the mailrooms of Merrill Lynch and worked his way to be Executive Vice President
            - Ira followed in his footsteps and also worked for Merrill. After Ed's 42 years of service and Ira's 14, they decided to start their own family office. 
            Starting in 2015, Edward retired and Ira took on the role as CEO and Chairman. 
        </span>
    </div>
</div>
