<div class="container-fluid bg-gradient" style="height: 35rem; background-color: #093675;">
    <h1 class="p-4 text-center text-white">The Team</h1>
    <div class="card mx-auto text-white" style="width: 20rem; height: 22rem; background-color: #1c2331">
        <img src="../../assets/iraProfile.jpg" style="width:18rem; height: 18rem;" class="mx-auto p-3 pb-0 rounded-circle" alt="...">
        <div class="card-body">
          <h1 class="card-text text-center">Ira Goldberg</h1>
          <p  class="card-text text-center">Chairman and CEO</p>
        </div>
      </div>
</div>

<!-- background-color: #0c4aa0; -->