<div class="container-fluid" style="background-color: #1c2331">
  <div class="row mb-2">
    <div class="col px-5 pb-4 pt-5">
      <h1 class="text-white">Leadership Team</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-5 pb-5 gap-4">
    <div class="card col-sm-3 shadow-sm bg-gradient">
        <img src="../../assets/edProfile.webp" class="card-img-top rounded-circle" alt="Ed Goldberg">
        <div class="card-body py-3">
          <h4 class="mb-0">Edward Goldberg</h4>
          <span>Advisor</span>
        </div>
        <div class="card-footer">
          <a href="#">ed@longviewcappartners.com</a>
        </div>
    </div>
    <div class="card col-sm-3 shadow-sm bg-gradient">
      <img src="../../assets/iraProfile.jpg" class="card-img-top rounded-circle" alt="Ira Goldberg">
      <div class="card-body py-3">
        <h4 class="mb-0">Ira Goldberg</h4>
        <span>Founder and CEO</span>
      </div>
      <div class="card-footer">
        <a href="#">ira@longviewcappartners.com</a>
      </div>
    </div>
    <div class="card col-sm-3 shadow-sm bg-gradient">
      <img src="../../assets/zacProfile.webp" class="card-img-top rounded-circle" alt="Zac Goldberg">
      <div class="card-body py-3">
        <h4 class="mb-0">Zac Goldberg</h4>
        <span>Web Programmer</span>
      </div>
      <div class="card-footer">
        <a href="#">zac@longviewcappartners.com</a>
      </div>
    </div>
  </div>
</div>
<!-- background-color: #0c4aa0; -->