<div class="container-fluid bg-secondary bg-gradient" style="height: 35rem;">
    <h1 class="p-4 text-center">The Team</h1>
    <div class="card mx-auto bg-primary" style="width: 20rem; height: 22rem;">
        <img src="../../assets/iraProfile.jpg" style="width:15rem;" class="mx-auto p-3 pb-0 rounded-circle" alt="...">
        <div class="card-body">
          <h1 class="card-text text-center">Ira Goldberg</h1>
          <p  class="card-text text-center">Chairman and CEO</p>
        </div>
      </div>
</div>
