<div class="container-fluid bg-secondary bg-gradient">
    <h1 class="p-4 mt-3 text-center">Contact Us</h1>
    <div class="row justify-content-center">
        <div class="card col-lg-3 shadow-sm bg-light bg-gradient mb-2 py-2" style="width: 50rem">
            <div class="card-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Jon Smith">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="company" class="form-label">Company</label>
                    <input type="text" class="form-control" id="company" placeholder="ABC LLC">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div>
                    <a type="button" class="btn btn-primary" href="mailto:someone@yoursite.com">Email Us</a>
                </div>
            </div>
        </div>
    </div>
</div>