<div id="containerBackground" class="container-fluid" style="height: 35rem;">
    <div class="row text-white p-4" style="width: 40rem;">
        <span class="p-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a dui id nisi auctor egestas.
            Ut auctor orci ornare, lacinia tortor a, auctor arcu. Quisque tincidunt nulla eget congue eleifend. Aenean
            vitae egestas tellus, sed dictum sapien. Nulla rutrum maximus tellus ut suscipit. Sed luctus quam ac euismod
            pharetra. Integer convallis sapien quis enim tincidunt hendrerit. Curabitur vel finibus urna, et suscipit
            eros. Nullam et magna tristique, bibendum mi vitae, auctor purus. Nunc nec quam ut libero elementum rutrum
            et nec massa. Duis maximus lorem mollis tellus eleifend mollis. Quisque eget maximus ante. Proin gravida
            turpis ex, et rutrum eros finibus eu. Etiam a quam sed dolor facilisis dapibus.
        </span>
        <div class="col py-5">
            <a href="#" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">Contact</a>
        </div>
    </div>
</div>
