<div class="container-fluid bg-gradient" style="height: 30rem; background-color: #c8cad0;">
    <div class="py-5 px-5">
        <h1>Our Story</h1> 
    </div>
    <div class="text-center">
        <span class="p-2">Summary of what funds Longview Capital Partners manages.</span>
    </div>
</div>


<div class="container-fluid" style="height: 35rem; background-color: #c8cad0;">
    <div class="py-5 px-5">
        <h1>Our Value</h1>
    </div>
    <div class="text-center">
        <span class="p-2">Summary of what funds Longview Capital Partners manages.</span>
    </div>
</div>
