<div class="container-fluid text-white" style="height: 30rem; background-color: #1c2331;">
    <div class="py-5 px-5">
        <h1>Our Story</h1> 
    </div>
    <div class="text-center">
        <span class="p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum maximus, metus vel eleifend semper, nisi risus lacinia justo, eu ultrices ex arcu eget mi. In orci lectus, cursus vitae tortor quis, auctor dignissim felis. Proin nec imperdiet arcu. Suspendisse vel dui varius, maximus dui non, blandit nulla. Curabitur quis neque faucibus, malesuada massa eget, ultricies justo. Pellentesque sit amet nisl condimentum, molestie neque at, facilisis tortor. Donec venenatis lectus velit, in finibus purus tincidunt at. Cras rhoncus iaculis consequat. Nulla quis lacus pellentesque, efficitur mauris condimentum, dictum odio. 
            Nunc lacus lectus, efficitur ultrices ultrices at, condimentum sed velit. 
        </span>
    </div>
</div>


<div class="container-fluid text-white" style="height: 35rem; background-color: #1c2331;">
    <div class="py-5 px-5">
        <h1>Our Value</h1>
    </div>
    <div class="text-center">
        <span class="p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum maximus, metus vel eleifend semper, nisi risus lacinia justo, eu ultrices ex arcu eget mi. In orci lectus, cursus vitae tortor quis, auctor dignissim felis. Proin nec imperdiet arcu. Suspendisse vel dui varius, maximus dui non, blandit nulla. Curabitur quis neque faucibus, malesuada massa eget, ultricies justo. Pellentesque sit amet nisl condimentum, molestie neque at, facilisis tortor. Donec venenatis lectus velit, in finibus purus tincidunt at. Cras rhoncus iaculis consequat. Nulla quis lacus pellentesque, efficitur mauris condimentum, dictum odio. 
            Nunc lacus lectus, efficitur ultrices ultrices at, condimentum sed velit.
        </span>
    </div>
</div>
