<div id="containerBackground" class="container-fluid" style="height: 35rem;">
    <div class="text-white p-4 position-relative d-flex align-items-center justify-content-start">
        <span class="p-2">Summary of what funds Longview Capital Partners manages.</span>
    </div>
    <div> 
        <a href="#" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">Contact</a>
    </div>
</div>

<div class="container mt-3" style="height: 35rem;">
    <div class="text-center py-4">
        <h2>Longview Capital Partners Metrics</h2>
    </div>
    <div class="row justify-content-between" style="height: 350px">
        <div class="card col-sm-3 shadow-sm bg-light bg-gradient me-2">
            <div class="card-body">
                <h4 class="fw-bolder card-title">Key Metrics</h4>
                <p class="card-text"><b>Information goes here.</b></p>
            </div>
        </div>
        <div class="card col-sm-3 shadow-sm bg-light bg-gradient me-2">
            <div class="card-body">
                <h4 class="fw-bolder card-title">Key Metrics</h4>
                <p class="card-text"><b>Information goes here.</b></p>
            </div>
        </div>
        <div class="card col-sm-3 shadow-sm bg-light bg-gradient">
            <div class="card-body">
                <h4 class="fw-bolder card-title">Key Metrics</h4>
                <p class="card-text"><b>Information goes here.</b></p>
            </div>
        </div>
    </div>
</div>

<div id="containerBackground2" class="container-fluid bg-secondary" style="height: 35rem;">
    <div class="py-5 px-5">
        <h1>Firm Overview</h1>
    </div>
    <div class="text-center text-white">
        <span class="p-2">Summary of what funds Longview Capital Partners manages.</span>
    </div>
</div>

<div class="container-fluid bg-light" style="height: 35rem;">
    <div class="py-5 px-5">
        <h1>Our Value</h1>
    </div>
    <div class="text-center">
        <span class="p-2">Summary of what funds Longview Capital Partners manages.</span>
    </div>
</div>

<div class="container-fluid bg-secondary" style="height: 35rem;">
    <div class="py-5 px-5">
        <h1>Licensing</h1>
    </div>
    <div class="text-center">
        <span class="p-2">Summary of what funds Longview Capital Partners manages.</span>
    </div>
</div>
