<div id="containerBackground" class="container-fluid" style="height: 35rem;">
    <div class="text-white p-4">
        <span class="p-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a dui id nisi auctor egestas.
            Ut auctor orci ornare, lacinia tortor a, auctor arcu. Quisque tincidunt nulla eget congue eleifend. Aenean
            vitae egestas tellus, sed dictum sapien. Nulla rutrum maximus tellus ut suscipit. Sed luctus quam ac euismod
            pharetra. Integer convallis sapien quis enim tincidunt hendrerit. Curabitur vel finibus urna, et suscipit
            eros. Nullam et magna tristique, bibendum mi vitae, auctor purus. Nunc nec quam ut libero elementum rutrum
            et nec massa. Duis maximus lorem mollis tellus eleifend mollis. Quisque eget maximus ante. Proin gravida
            turpis ex, et rutrum eros finibus eu. Etiam a quam sed dolor facilisis dapibus. Ut lorem enim, viverra sit
            amet pulvinar vel, cursus quis mauris. Duis viverra, leo sit amet imperdiet bibendum, ipsum magna rhoncus
            odio, id suscipit leo neque vel risus.
            Nullam luctus, augue et posuere mattis, metus mauris blandit quam, ut sodales justo lectus quis turpis.
            Morbi mattis leo ut nisl sodales pharetra. Quisque et urna odio. Donec felis lectus, tempus et purus vel,
            cursus luctus odio. Vivamus diam erat, imperdiet sed vulputate in, porta at risus. Integer lectus justo,
            sodales at viverra in, malesuada sit amet magna. Ut vehicula nulla quam, in consequat magna luctus vitae.
            Nam scelerisque orci ex, vitae suscipit neque iaculis at. Donec placerat tincidunt ligula ac facilisis. Nunc
            tincidunt ut nulla non interdum. Aliquam egestas neque quis dui elementum, eu aliquet mi dictum. Donec
            ultrices dictum condimentum. </span>
        <a href="#" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">Contact</a>
    </div>
</div>

<div class="container mt-3" style="height: 35rem;">
    <div class="text-center py-4">
        <h2>Longview Capital Partners Metrics</h2>
    </div>
    <div class="row justify-content-between" style="height: 350px">
        <div class="card col-sm-3 shadow-sm bg-light bg-gradient me-2">
            <div class="card-body">
                <h4 class="fw-bolder card-title">Key Metrics</h4>
                <p class="card-text"><b>Information goes here.</b></p>
            </div>
        </div>
        <div class="card col-sm-3 shadow-sm bg-light bg-gradient me-2">
            <div class="card-body">
                <h4 class="fw-bolder card-title">Key Metrics</h4>
                <p class="card-text"><b>Information goes here.</b></p>
            </div>
        </div>
        <div class="card col-sm-3 shadow-sm bg-light bg-gradient">
            <div class="card-body">
                <h4 class="fw-bolder card-title">Key Metrics</h4>
                <p class="card-text"><b>Information goes here.</b></p>
            </div>
        </div>
    </div>
</div>

<div id="containerBackground2" class="container-fluid bg-secondary" style="height: 35rem;">
    <div class="py-5 px-5">
        <h1>Firm Overview</h1>
    </div>
    <div class="text-center text-white">
        <span class="p-2">Summary of what funds Longview Capital Partners manages.</span>
    </div>
</div>

<div class="container-fluid bg-light" style="height: 35rem;">
    <div class="py-5 px-5">
        <h1>Our Value</h1>
    </div>
    <div class="text-center">
        <span class="p-2">Summary of what funds Longview Capital Partners manages.</span>
    </div>
</div>

<div class="container-fluid bg-secondary" style="height: 35rem;">
    <div class="py-5 px-5">
        <h1>Licensing</h1>
    </div>
    <div class="text-center">
        <span class="p-2">Summary of what funds Longview Capital Partners manages.</span>
    </div>
</div>