<div id="containerBackground" class="container-fluid image-fluid" style="height: 35rem;">
    <div class="row text-white p-4">
        <span class="p-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a dui id nisi auctor egestas.
            Ut auctor orci ornare, lacinia tortor a, auctor arcu. Quisque tincidunt nulla eget congue eleifend. Aenean
            vitae egestas tellus, sed dictum sapien. Nulla rutrum maximus tellus ut suscipit. Sed luctus quam ac euismod
            pharetra. Integer convallis sapien quis enim tincidunt hendrerit. Curabitur vel finibus urna, et suscipit
            eros. Nullam et magna tristique, bibendum mi vitae, auctor purus. Nunc nec quam ut libero elementum rutrum
            et nec massa. Duis maximus lorem mollis tellus eleifend mollis. Quisque eget maximus ante. Proin gravida
            turpis ex, et rutrum eros finibus eu. Etiam a quam sed dolor facilisis dapibus.
        </span>
        <div class="col py-5">
            <a routerLink= "/contact" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">Contact</a>
        </div>
    </div>
</div>

<div class="container-fluid" style="height: 35rem; background-color: #c8cad0;">
    <div class="text-center py-4" style="color:black">
        <h2>Longview Capital Partners Metrics</h2>
    </div>
    <div class="row justify-content-between mt-3" style="height: 22rem;">
        <div class="card col-sm-3 shadow-sm bg-gradient mx-5" style="background-color: #000040">
            <div class="card-body text-white">
                <h4 class="fw-bolder card-title">Key Metrics</h4>
                <p class="card-text"><b>Information goes here.</b></p>
            </div>
        </div>
        <div class="card col-sm-3 shadow-sm bg-gradient me-2" style="background-color: #000040">
            <div class="card-body text-white">
                <h4 class="fw-bolder card-title">Key Metrics</h4>
                <p class="card-text"><b>Information goes here.</b></p>
            </div>
        </div>
        <div class="card col-sm-3 shadow-sm bg-gradient mx-5" style="background-color:  #000040">
            <div class="card-body text-white">
                <h4 class="fw-bolder card-title">Key Metrics</h4>
                <p class="card-text"><b>Information goes here.</b></p>
            </div>
        </div>
    </div>
</div>

<div id="containerBackground2" class="container-fluid image-fluid px-5" style="height: 35rem;">
    <div class="py-3">
        <h1>Firm Overview</h1>
    </div>
    <div class="row text-end text-white">
            <span class="p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a dui id nisi auctor egestas.
                Ut auctor orci ornare, lacinia tortor a, auctor arcu. Quisque tincidunt nulla eget congue eleifend. Aenean
                vitae egestas tellus, sed dictum sapien. Nulla rutrum maximus tellus ut suscipit. Sed luctus quam ac euismod
                pharetra. Integer convallis sapien quis enim tincidunt hendrerit. Curabitur vel finibus urna, et suscipit
                eros. Nullam et magna tristique, bibendum mi vitae, auctor purus. Nunc nec quam ut libero elementum rutrum
                et nec massa. Duis maximus lorem mollis tellus eleifend mollis. Quisque eget maximus ante. Proin gravida
                turpis ex, et rutrum eros finibus eu. Etiam a quam sed dolor facilisis dapibus.
            </span>
        <div class="col py-3">
            <a routerLink="/aboutus" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">About Us</a>
        </div>
    </div>
</div>

<div class="container-fluid" style="height: 30rem; background-color: #c8cad0;">
    <div class="py-5 px-5">
        <h1>Licensing</h1>
    </div>
    <div class="text-center">
        <span class="p-2 text-dark">Summary of what funds Longview Capital Partners manages.</span>
    </div>
</div>