#containerBackground {
    background: linear-gradient(rgba(11, 0, 72, 0.5), rgba(72, 92, 192, 0.5)), url("../../assets/detroitSkyline.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#containerBackground2 {
    background-image: linear-gradient(rgba(149, 148, 153, 0.6), rgba(60, 60, 63, 0.8)), url("../../assets/detroitSkyline2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}